HOST=app.local
DB_HOST=app-db
DB_DATABASE=app_db
DB_PASSWORD=app_password
DB_USERNAME=app_user
DB_PORT=5432

REDIS_HOST=app-redis
REDIS_PASSWORD=12345678
REDIS_PORT=6379

MEMCACHED_HOST=app-memcached
MEMCACHED_PORT=11211