# password for root user
MYSQL_ROOT_PASSWORD=
# create your database
MYSQL_DATABASE=study
# user and password for your database
MYSQL_USER=db_user
MYSQL_PASSWORD=
# suffix for names of docker containers
DOCKER_CONTAINER_SUFFIX=-dev
# Password for user postgres
POSTGRES_PASSWORD=