# suffix for names of docker containers
DOCKER_CONTAINER_SUFFIX=-dev
# rabbitmq configuration
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=
# telegram configuration
TELEGRAM_BOT_NAME=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=