services:
  web:
    build: config/nginx
    container_name: myapp-server${DOCKER_CONTAINER_SUFFIX}
    ports: 
      - "80:80"

  fpm:
    build: config/php
    container_name: myapp-php${DOCKER_CONTAINER_SUFFIX}
    ports:
      - ":9000"
    volumes:
      - ./:/data/www
    environment:
      MYAPP_MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYAPP_MYSQL_USER: ${MYSQL_USER}
      MYAPP_MYSQL_PASSWORD: ${MYSQL_PASSWORD}

  redis:
    image: redis
    container_name: myapp-redis${DOCKER_CONTAINER_SUFFIX}
    ports:
      - "6379:6379"

  memcached:
    image: memcached
    container_name: myapp-memcached${DOCKER_CONTAINER_SUFFIX}
    ports:
      - "11211:11211"

  mysql:
    image: mysql
    restart: always
    container_name: myapp-mysql${DOCKER_CONTAINER_SUFFIX}
    ports:
      - "3306:3306"
    volumes:
      - ./database/tables.ddl:/docker-entrypoint-initdb.d/tables.sql
      - myapp-dbvolume:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}

volumes:
  # here database will store data
  myapp-dbvolume:
