REDIS_REPLICATION_MODE=master
REDIS_PORT_NUMBER=7000

# Port to connect replica
REDIS_REPLICA_PORT=7001

# Multithreading
#REDIS_IO_THREADS=4
#REDIS_IO_THREADS_DO_READS=true

# Security
ALLOW_EMPTY_PASSWORD=no
REDIS_PASSWORD=otus
#REDIS_ACLFILE=/opt/bitnami/redis/mounted-etc/users.acl
REDIS_TLS_ENABLED=no
#REDIS_TLS_CERT_FILE=/opt/bitnami/redis/certs/redis.crt
#REDIS_TLS_KEY_FILE=/opt/bitnami/redis/certs/redis.key
#REDIS_TLS_CA_FILE=/opt/bitnami/redis/certs/redisCA.crt
