COMPOSE_FILE=docker-compose.yml
# COMPOSE_FILE=docker-compose.yml
COMPOSE_PROJECT_NAME=otus-db-pattern

APP_UID=1000
APP_GID=1000

UNAME=otus
UGROUP=otus

XDEBUG_STORM_SERVER_NAME=Docker

# change to debug if want to test xdebug
#XDEBUG_MODE=off
XDEBUG_MODE=debug
