HOST=application.local
DB_HOST=db
DB_PORT=5432
DB_DATABASE=srv_base
DB_USERNAME=srv_name
DB_PASSWORD=12345
DB_SCHEMA=public

REDIS_HOST=redis
REDIS_PASSWORD=12345678
REDIS_PORT=6379

MEMCACHED_HOST=memcached
MEMCACHED_PORT=11211