# Mode slave for replica
REDIS_REPLICATION_MODE=slave
# Replica port
REDIS_PORT_NUMBER=7001
# Replica password
REDIS_PASSWORD=otus

# Master port
REDIS_MASTER_PORT_NUMBER=7000
# Master host
REDIS_MASTER_HOST=redis-master
# Master password
REDIS_MASTER_PASSWORD=otus
