ROOT_DOMAIN=application.localhost

SYSTEM_GROUP_ID=1000
SYSTEM_USER_ID=1000

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=otus
DB_USER=otus
DB_USER_PASSWORD=928e3c8623e30bba
DB_ROOT_PASSWORD=27d3eda4127cca84