# App config
DATA_FILE_PATH=public/data.json
MAPPINGS_FILE_PATH=public/mappings.json

# Elastic
ELASTICSEARCH_PASSWORD=otus
ELASTICSEARCH_ENABLE_SECURITY=true
ELASTICSEARCH_SKIP_TRANSPORT_TLS=true

ELASTICSEARCH_HEAP_SIZE=768M
ELASTICSEARCH_MAX_ALLOWED_MEMORY_PERCENTAGE=90
