COMPOSE_FILE=docker-compose.yml:docker-compose.local.yml
# COMPOSE_FILE=docker-compose.yml
COMPOSE_PROJECT_NAME=otus-redis

APP_UID=1000
APP_GID=1000

UNAME=otus
UGROUP=otus

ELASTIC_VERSION=8.7.1
ELASTIC_USER=elastic
ELASTIC_PASSWORD=123456
ELASTIC_INDEX=events

########################################
### APP
########################################
REDIS_HOST=redis
REDIS_PORT=6379

ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200

XDEBUG_STORM_SERVER_NAME=Docker

# change to debug if want to test xdebug
#XDEBUG_MODE=off
XDEBUG_MODE=debug
