NGINX_PORT=80
NGINX_HOST=otus.local
NGINX_EXTERNAL_PORT=80
NGINX_BALANCER_NAME=nginx_balancer

NGINX_WORKER_1=nginx-worker-1
NGINX_WORKER_2=nginx-worker-2

PHP_FPM_CONTAINER_1=php-fpm-1
PHP_FPM_CONTAINER_2=php-fpm-2

PHP_CLI_CONTAINER_NAME=php-cli

MEMCACHED_CONTAINER_NAME=memcached