# версия синтаксиса
version: '3'

# в этом блоке мы описываем контейнеры, которые будут запускаться
services:
  #Контейнер с PHP-FPM
  fpm-server:
    # Если нет секции build, то система будет искать образ в репозиториях
    build:
      context: ./fpm
      dockerfile: Dockerfile
    image: myapp/php-server # имя будущего образа
    container_name: '${COMPOSE_PROJECT_NAME}_fpm-server' # имя контейнера после запуска
    volumes:
       - ./src:/data/mysite.local
       - socket:/var/run/
    env_file:
      - .env
    # мы можем создать для контейнеров внутреннюю сеть
    networks:
      - app-network
  #Контейнер с PHP-FPM
  fpm-client:
    # Если нет секции build, то система будет искать образ в репозиториях
    build:
      context: ./fpm
      dockerfile: Dockerfile
    image: myapp/php-client # имя будущего образа
    depends_on:
      - fpm-server
    container_name: '${COMPOSE_PROJECT_NAME}_fpm-client' # имя контейнера после запуска
    volumes:
       - ./src:/data/mysite.local
       - ./fpm/zz-docker.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
       - socket:/var/run/
    env_file:
      - .env
    # мы можем создать для контейнеров внутреннюю сеть
    networks:
      - app-network

volumes:
  socket:

#Docker Networks
networks:
  app-network:
    driver: bridge