version: '3.8'

services:
  nginx:
    build:
      context: .docker/nginx
      dockerfile: Dockerfile
    image: hw19/nginx
    restart: always
    container_name: nginx-hw19
    ports:
      - "80:80"
    volumes:
      - ./app:/data
    depends_on:
      - app
      - rabbitmq

  app:
    build:
      context: .docker/fpm
      dockerfile: Dockerfile
    image: hw19/php
    container_name: php-hw19
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
      QUEUE: ${QUEUE}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_USER: ${MYSQL_USER}
      SENDER: ${SENDER}
    volumes:
      - ./app:/data
    depends_on:
      - mysql
      - rabbitmq

  consumer:
    build:
      context: .docker/fpm
      dockerfile: Dockerfile
    image: hw19/php
    container_name: php-hw19-consumer
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
      QUEUE: ${QUEUE}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_USER: ${MYSQL_USER}
    volumes:
      - ./app:/data

  rabbitmq:
    image: rabbitmq:3.7.7-management-alpine
    container_name: rabbit-hw19
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - "127.0.0.1:5673:5672"
      - "127.0.0.1:15673:15672"

  mysql:
    image: mysql/mysql-server:8.0
    container_name: mysql-hw19
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_HOST: ${MYSQL_ROOT_HOST}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - data:/var/lib/mysql

volumes:
  data: