BROKER_CONNECT='Shabanov\Otusphp\Connection\RabbitMqConnect'
BROKER_HOST='rabbitmq'
BROKER_PORT=5672
BROKER_USER='guest'
BROKER_PASSWORD='guest'
EXCHANGE='shabanov'
QUEUE='otus'

EMAIL_SMTP='smtp.yandex.ru'
EMAIL_PORT=465
EMAIL_USER='saveliy'
EMAIL_PASSWORD='123456'
EMAIL_FROM='saveliy@mail.ru'
EMAIL_TO='infotest@mail.ru'
