PHP_VERSION=php74

WEB_SERVER_TYPE=nginx

DB_SERVER_TYPE=mysql
MYSQL_DATABASE=otus
MYSQL_USER=otus
MYSQL_PASSWORD=123
MYSQL_ROOT_PASSWORD=123

INTERFACE=0.0.0.0

SITE_PATH=../www/
COMPOSE_PROJECT_NAME=otus