RABBITMQ_HOST='localhost:5673'
RABBITMQ_VHOST='/'
RABBITMQ_USER='guest'
RABBITMQ_PASSWORD='guest'

DATABASE_URL="postgresql://rmq-user:password@localhost:5433/rmq_db?serverVersion=16&charset=utf8"
TELEGRAM_DSN=telegram://6518068645:AAHUjkExodxsFV-jhpxEr8mL_VefipXhmSo@default?channel=424398008

APP_ENV=dev
APP_SECRET=a1517acc8f410f3c1e47d8f808cf8425