RABBITMQ_HOST='127.0.0.1:5672'
RABBITMQ_VHOST='/'
RABBITMQ_USER='guest'
RABBITMQ_PASSWORD='guest'

MY_PATH_SRC=./
NGINX_PORT=8088
OWN_PHP_FPM_PORT=8090

DATABASE_URL="postgresql://rmq-user:password@database:5433/rmq_db?serverVersion=15&charset=utf8"

APP_ENV=dev
APP_SECRET=a1517acc8f410f3c1e47d8f808cf8425