#USE_REPOSITORY : elasticsearch, elastic, es; clickhouse, ch
USE_REPOSITORY=elasticsearch
#USE_REPOSITORY=clickhouse

DATA_LIMIT=1420
DATA_FILE=books.json

ES_PASSWORD=pass
ES_USER=elastic
ES_BULK_FILE=books.json
ES_URL=http://elasticsearch:9200

CH_USER=user
CH_PASSWORD=pass
CH_DB=db
CH_PORT=8123
CH_HOST=clickhouse
