OWN_NGINX_PORT=80

TARGET_BRANCH='NDybnov/hw21'
APP_SUB_DIR='app'

DIR='/home/qa/Documents/OTUS-PHP/test-deploy'
REPOSITORY='/home/qa/Documents/OTUS-PHP/github-otus-php-2023'
TARGET_PRJ_DIR='http-php-2023-2'

#DIR='/home/qa/Documents/OTUS-PHP/test-deploy'
#REPOSITORY='https://github.com/otusteamedu/PHP_2023.git'
#TARGET_PRJ_DIR='http-php-2023-2'

LOG_FILE='./log.txt'

APP_VERSION=123
COMMENT='last comment'
