<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Форма</title>
</head>
<body>
    <main>
        <form action="/" method="POST">
            <div>
                <label for="string">Введите скобки:</label>
                <input id="string" type="text" name="string" required>
            </div>

            <button type="submit">
                Отправить
            </button>
        </form>
    </main>
</body>
</html>