DATABASE_URL="postgresql://app:app@127.0.0.1:5433/app?serverVersion=15&charset=utf8"

RABBIT_HOST=localhost
RABBIT_USER=rabbit
RABBIT_PASS=carrot
RABBIT_MANAGEMENT_PORT=5672
BUS_EXCHANGE=fanout
BUS_QUEUE=bank

TELEGRAM_DSN=telegram://6577760375:AAEEN1QXVU02usGSVqaoBXpgQYaRp2z4KIw@default?channel=CHAT_ID

