index                   index.php index.html index.htm;
client_max_body_size    1024m;
client_body_buffer_size 4m;
proxy_set_header        X-Real-IP       $remote_addr;
proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
set                     $php_upstream   php-upstream;

# PHP-FPM
location ~ \.php$ {
    try_files     $uri $uri/ /index.php?$query_string;
    fastcgi_pass  $php_upstream;
    fastcgi_index index.php;
    include       include/fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $fpm_root$fastcgi_script_name;
}

error_page 404 /404.php;
location = /404.php {
    internal;
}